<header>
    <div class="jumbotron">
        <h1>Resenha Cultural</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius hendrerit enim. Integer vestibulum justo est, vitae tincidunt leo sodales et. Mauris fringilla commodo ultricies. Quisque pharetra lacus sit amet facilisis aliquet. Integer et sem lectus. In viverra tincidunt commodo. Donec consectetur imperdiet turpis vel condimentum. Suspendisse ut lacus quis mi auctor consectetur sed auctor sem. 
        </p>
    </div>
</header>

