@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<BlogWeb.Models.Post>
@foreach (var item in Model)
{
    <article>
        <h1>@item.Titulo</h1>
        <p>@item.Resumo</p>
    </article>
}